<article class="archive__item {% if post.collection == 'talks' %}talk-entry{% endif %}">
  <h3 class="archive__item-title {% if post.collection == 'talks' %}talk-title{% endif %}">
    {% if post.link %}
      <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
    {% else %}
      {{ post.title }}
    {% endif %}
  </h3>

  {% if post.venue or post.date %}
    <p class="archive__item-meta {% if post.collection == 'talks' %}talk-meta{% endif %}">
      {% if post.date %}
        {{ post.date | date: "%B %d, %Y" }}
      {% endif %}
      {% if post.venue %}
        <br>{{ post.venue }}
      {% endif %}
      {% if post.location %}
        , {{ post.location }}
      {% endif %}
    </p>
  {% endif %}

  {% if post.excerpt %}
    <p class="archive__item-excerpt">{{ post.excerpt | markdownify }}</p>
  {% endif %}

  {% if post.slideurl %}
    <a href="{{ post.slideurl }}" target="_blank" class="btn btn--small">Slides</a>
  {% endif %}
  {% if post.video %}
    <a href="{{ post.video }}" target="_blank" class="btn btn--small">Video</a>
  {% endif %}
</article>
