<article class="archive__item publication-entry">
  <h3 class="archive__item-title">
    {% if post.link %}
      <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
    {% else %}
      {{ post.title }}
    {% endif %}
  </h3>

  {% if post.venue %}
    <p class="publication-meta">
      <em>{{ post.venue }}</em>
      {% if post.date %}
        , {{ post.date | date: "%Y" }}
      {% endif %}
    </p>
  {% endif %}

  {% if post.excerpt != '' and post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
  {% endif %}


  {% if post.paperurl %}
    <p class="publication-links">
      <a href="{{ post.paperurl }}" class="btn btn--small" target="_blank">PDF</a>
    </p>
  {% endif %}
</article>

{% if post.collection == 'projects' %}
  <!-- Add project-specific layout or classes -->
  <article class="archive__item project-entry">
    <h3 class="archive__item-title">
      {% if post.link %}
        <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h3>

    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt | markdownify }}</p>
    {% endif %}
    
    {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }} thumbnail" />
    {% endif %}
  </article>
{% endif %}

